@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

$color1: #161719;
$color2: #26272b;
$text: #9fa2a7;
$highlight1: #56b273;
$highlight2: #b388dd;
$highlight3: #ff8750;
$highlight4: #01ad9b;

.text-center {
  text-align: center;
}

body {
  font-family: "Permanent Marker";
  font-size: 1.5rem;
  padding: 10px 100px 10px 10px;
  background-color: $color1;
  color: $text;
}

.wrapper {
  max-width: 450px;
  margin: 0 auto;
}

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 1.5em;
  position: relative;
  font-family: "Roboto", sans-serif;
}

h1::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 100%;
  background: white;
  bottom: -6px;
  z-index: -1;
}

.speechbubble {
  background-color: $color2;
  color: $text;
  font-size: 0.8em;
  line-height: 1.75;
  padding: 15px 25px;
  margin-bottom: 75px;
  cursor: default;

  //  Border and arrow left
  &:nth-child(2n) {
    border-left: 5px solid;
  }
  &:nth-child(2n):after {
    content: "";
    margin-top: -30px;
    padding-top: 0px;
    position: relative;
    bottom: -45px;
    left: 20px;
    border-width: 30px 0 0 30px;
    border-style: solid;
    border-color: $color2 transparent;
    display: block;
    width: 0;
  }
  //  Border and arrow right
  &:nth-child(2n + 1) {
    border-right: 5px solid;
  }
  &:nth-child(2n + 1):after {
    content: "";
    margin-top: -30px;
    padding-top: 0px;
    position: relative;
    bottom: -45px;
    left: 350px;
    border-width: 30px 30px 0 0;
    border-style: solid;
    border-color: $color2 transparent;
    display: block;
    width: 0;
  }
  // Randomize every 4th bubble's border color
  &:nth-child(4n + 1) {
    //border-color: hsla(random(365), random(365), 50, 1);
    border-color: $highlight1;
  }
  &:nth-child(4n + 2) {
    border-color: $highlight4;
  }
  &:nth-child(4n + 3) {
    border-color: $highlight2;
  }
  &:nth-child(4n + 4) {
    border-color: $highlight3;
  }
}

.wrapper button {
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  border: 3px solid black;
  border-radius: 10px;
  max-width: 240px;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 600;
  align-self: center;
  cursor: pointer;
}

.hidden {
  display: none;
}

.joke {
  display: flex;
  flex-direction: column;
}
